@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

  <div id='oopss'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <span>400 PAGE</span>
        <p class="p-a">
           . Что-то пошло не так. Запрос не может быть обработан</p>
        <p class="p-b">
            ... Back to previous page
        </p>
        <a asp-action="Index" asp-controller="Phones" class="back">... Вернуться к телефонам</a>
    </div>
</div>

